<%= form_with model: model, local: true do |form| %>
  <p>
    <%= form.label :info_type %><br>
    <%= form.select :info_type, Note::NOTE_TYPES %>
  </p>
  <p>
    <%= form.label :additional_info %><br>
    <%= form.text_area :additional_info, size: "30x10" %>
  </p>

  <p>
    <%= form.submit class: "button create-note-link" %><br>
    <br>
  </p>

<% end %>
