<%= form_with model: model, local: true do |form| %>
  <div class="form-input-element">
    <%= form.label :info_type %><br>
    <%= form.select :info_type, Note::NOTE_TYPES %>
  </div>
  <div class="form-input-element">
    <%= form.label :additional_info %><br>
    <%= form.text_area :additional_info, size: "30x10" %>
  </div>

  <div class="form-input-element">
    <%= form.submit class: "button create-note-link" %><br>
    <br>
  </div>

<% end %>
