<%= form_with model: model, local: true do |form| %>
<%= render 'error_messages', model: model.last %>
  <div class="form-input-element">
    <%= form.label :info_type %><br>
    <%= form.select :info_type, Note::NOTE_TYPES %>
  </div>
  <div class="form-input-element">
    <%= form.label :additional_info %><br>
    <%= form.text_area :additional_info, size: "30x10" %>
  </div>

  <div class="form-input-element">
    <%= form.submit class: "button" %>
  </div>
<% end %>
