<%= form_with model: model, local: true do |form| %>
<%= render 'error_messages', model: model %>
<div class="form-input-element">
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</div>
<div class="form-input-element">
  <%= form.label :color_choice %><br>
  <%= form.select :color_choice, Game::COLORS %>
</div>
<div class="form-input-element">
  <%= form.submit class: "button" %>
</div>
<% end %>
