<%= form_with model: model ||= Preference.new, villager_select: villager_select ||= nil, item_select: item_select ||= nil, local: true do |form| %>
  <%= render 'error_messages', model: model %>
  <div class="form-input-element">
    <% if villager_select != nil %>
      <%= form.hidden_field :villager_id, value: villager_select %>
    <% else %>
      <%= form.label :villager, "Villager:" %><br>
      <%= form.collection_select :villager_id, @game.villagers.order(:name), :id, :name, prompt: true %>
    <% end %>
  </div>
  <div class="form-input-element">
    <% if item_select != nil %>
      <%= form.hidden_field :item_id, value: item_select %>
    <% else %>
      <%= form.label :item, "Item:" %><br>
      <%= form.collection_select :item_id, @game.items.order(:name), :id, :name, prompt: true %>
    <% end %>
  </div>
  <div class="form-input-element create-preference-choices">
      <%= form.radio_button :opinion, "Likes" %><%= form.label :opinion, "Likes", value: "Likes" %>
      <%= form.radio_button :opinion, "Dislikes" %><%= form.label :opinion, "Dislikes", value: "Dislikes" %>
  </div>
  <div class="form-input-element create-preference-button">
      <%= form.submit class: "button" %>
  </div>
<% end %>
