<%= form_with model: model ||= Preference.new, villager_select: villager_select ||= nil, local: true do |form| %>
<% if model.errors.any? %>
  <div class="error_explanation">
    <h3><%= "#{model.class} not saved:" %></h3>
    <ul>
    <% model.errors.full_messages.each do |message| %>
      <div id="error_message"><li><%= message %></li></div>
    <% end %>
    </ul>
  </div>
<% end %>
<p>
  <% if villager_select != nil %>
    <%= form.hidden_field :villager_id, value: villager_select %>
  <% else %>
    <%= form.label :villager %><br>
    <%= form.collection_select :villager_id, Villager.all, :id, :name, prompt: true %><br>
  <% end %>
  <%= form.label :item %><br>
  <%= form.collection_select :item_id, Item.all, :id, :name, prompt: true %><br>

  <%= form.radio_button :opinion, "Likes" %>
  <%= form.label :opinion, "Likes" %>
  <%= form.radio_button :opinion, "Dislikes" %>
  <%= form.label :opinion, "Dislikes" %>

</p>
<p>
  <%= form.submit %>
</p>

<% end %>
