<%= form_with model: model, local: true do |form| %>
<%= render 'error_messages', model: model.last %>
  <div class="form-input-element">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div class="form-input-element">
    <%= form.label :category %><br>
    <%= form.select :category, Item::CATEGORIES %><br>
  </div>
  <div class="form-input-element">
      <%= form.label :sale_price %><br>
      <%= form.text_field :sale_price %>
  </div>
  <div class="form-input-element">
    <%= form.label :extra_info %><br>
    <%= form.text_area :extra_info, size: "30x10", class: "extra-info-text-area" %>
  </div>
  <div class="form-input-element">
    <%= form.submit class: "button" %>
  </div>
  <% end %>
