<% provide(:title, "Edit Item") %>
<div class="full-page">
  <div class="inner-page">
    <h1 class="page-title">Edit Item Info</h1>

    <%= render "form", model: [@game, @item] %>
    <div class="profile-page-preference-table">
      <table>
        <tr>
          <th>Villager</th>
          <th>Preference</th>
        </tr>

      <% @preferences.order(:villager_id).each do |pref| %>
        <tr>
          <td><%= villager_name(pref.villager_id) %></td>
          <td><%= pref.opinion %></td>
          <td><%= button_to 'Delete', preference_path(pref), class: "button delete-button",
                                           method: :delete,
                                           data: { confirm: "Really delete this preference?" } %></td>
        </tr>
      <% end %>
      </table>
    </div>

    <%= button_to 'Delete Item', game_item_path, class: "button",
                                 method: :delete,
                                 data: { confirm: "Really delete #{@item.name}?" } %>
    <br>
    <br>
    <%= link_to "#{@item.name} Page", game_item_path, class: "button" %>
  </div>
</div>
