<h2>Items List</h2>
<b><%= link_to 'Add New Item', new_item_path %></b>
<br>
<br>
<b>Search By Name:</b><%= form_with url: items_path, method: :get, local: true do |form| %>
  <%= form.text_field :search, value: params[:search] %>
  <%= form.submit 'Search', name:nil %>
<% end %>
<br>
<b>Filter By Category:</b><%= form_with url: items_path, method: :get, local: true do |form| %>
  <%= form.select :filter, Item::CATEGORIES, selected: params[:filter] %>
  <%= form.submit 'Filter', name:nil %>
<% end %>
<br>
<br>
<table>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Category</th>
    <th>Sale Price</th>
  </tr>

  <% @items.order(:name).each do |item| %>
    <tr>
      <td><%= item_pic(item.name) %></td>
      <td><%= item.name %></td>
      <td><%= item.category %></td>
      <td><%= item.sale_price %></td>
      <td><%= link_to 'Item Page', item_path(item) %></td>
    </tr>
  <% end %>
</table>
