<h2>Items List</h2>
<b><%= link_to 'Add New Item', new_item_path %></b>
<br>
<br>
<b>Search By Name:</b><%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag 'Search', name:nil %>
<% end %>
<br>
<b>Filter By Category:</b><%= form_tag(items_path, method: :get) do %>
  <%= select_tag :filter, options_for_select(Item::CATEGORIES, selected: params[:filter]) %>
  <%= submit_tag 'Filter', name:nil %>
<% end %>
<br>
<br>
<table>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Category</th>
    <th>Sale Price</th>
  </tr>

  <% @items.order(:name).each do |item| %>
    <tr>
      <td><%= item_pic(item.name) %></td>
      <td><%= item.name %></td>
      <td><%= item.category %></td>
      <td><%= item.sale_price %></td>
      <td><%= link_to 'Item Page', item_path(item) %></td>
    </tr>
  <% end %>
</table>
