<h1><%= @item.name %></h1>

<%= item_pic(@item.name) %>
<br>
<h4>Category:</h4>
<%= @item.category %><br>
<h4>Sale Price:</h4>
<%= @item.sale_price %><br>

<%= render 'display_preferences' %>
<br>

<h4>Additional Info</h4>
<i><div class="additional-info"><%= sanitize(@item.extra_info) %></i></div><br>
<br>
<br>
<br>
<br>
<h4>Add Preferences</h4>
<%= render "preferences/form", model: Preference.new, item_select: @item.id %><br>

<p>
  <%= link_to 'Edit', edit_item_path(@item), class: "edit-item-link" %><br>
</p>
