<h2><%= @item.name %></h2>

<%= item_pic(@item.name) %>
<br>
<h4>Category:</h4>
<%= @item.category %><br>
<h4>Sale Price:</h4>
<%= @item.sale_price %><br>

<p>
  <%= link_to 'Edit', edit_item_path(@item) %><br>
</p>
