<%= form_with model: model, local: true do |form| %>
<% if model.errors.any? %>
  <div class="error_explanation">
    <h3><%= "#{model.class} not saved:" %></h3>
    <ul>
    <% model.errors.full_messages.each do |message| %>
      <div id="error_message"><li><%= message %></li></div>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :birth_season, "Birth Season" %>
    <%= form.select :birth_season, Villager::BIRTH_SEASONS %>
    <br>
    <%= form.label :birth_day, "Birth Day" %>
    <%= form.select :birth_day, Villager::BIRTH_DAYS %>
  </p>

  <p>
    <%= form.submit %><br>
    <br>
  </p>

<% end %>
