<%= form_with model: model, local: true do |form| %>
<%= render 'error_messages', model: model %>
  <div class="form-input-element">
    <%= form.label :game_id, "Game:", class: "preference-type-label" %><br>
    <%= form.collection_select :game_id, Game.order(:name).all, :id, :name, prompt: true, class: "preference-type-label" %>
  </div>
  <div class="form-input-element">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div class="form-input-element">
    <%= form.label :birth_season, "Birth Season" %><br>
    <%= form.select :birth_season, Villager::BIRTH_SEASONS %>
  </div>
  <div class="form-input-element">
    <%= form.label :birth_day, "Birth Day" %><br>
    <%= form.select :birth_day, Villager::BIRTH_DAYS %>
  </div>
  <div class="form-input-element">
    <%= form.label :extra_info %><br>
    <%= form.text_area :extra_info, size: "25x5" %>
  </div>
  <div class="form-input-element">
    <%= form.submit class: "button create-villager-link" %>
  </div>
<% end %>
