<h2>Stardew Valley Villagers:</h2>
<b><%= link_to 'Add New Villager', new_villager_path %></b>
<br>
<br>
<table>
  <tr>
    <th>Portrait</th>
    <th>Name</th>
    <th>Birthday</th>
  </tr>

  <% @villagers.order(:name).each do |villager| %>
    <tr>
      <td><%= headshot(villager.name) %></td>
      <td><%= villager.name %></td>
      <td><%= "#{villager.birth_season} #{villager.birth_day}" %></td>
      <td><%= link_to 'Profile', villager_path(villager) %></td>
    </tr>
  <% end %>
</table>
