<div class="full-page">
  <div class="center-it inner-page">
    <div class="page-header-title-button">
      <h1 class="page-title">Villagers List</h1>
      <%= link_to 'Add New Villager', new_game_villager_path, class: "button add-new-link" %>
    </div>
    <div class="search-filter">
      <div class="search-header">Search By Name:<%= form_with url: game_villagers_path, method: :get, local: true do |form| %>
        <%= form.text_field :search, value: params[:search], class: "search-style" %>
        <%= form.submit 'Search', name:nil, class: "button search-button" %>
      <% end %></div>
      <div class="filter-header filter-villagers">Filter By Birth Season:<%= form_with url: game_villagers_path, method: :get, local: true do |form| %>
        <%= form.select :filter, Villager::BIRTH_SEASONS, selected: params[:filter] %>
        <%= form.submit 'Filter', name:nil, class: "button filter-button" %>
      <% end %>
      </div>
      </div>
      <table>
        <thead>
          <tr>
            <th class="header", colspan="2", scope="col">Villager</th>
            <th class="header", scope="col">Birthday</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @villagers.order(:name).each do |villager| %>
            <tr>
              <td><%= headshot(villager.name) %></td>
              <td><%= villager.name %></td>
              <td><%= "#{villager.birth_season} #{villager.birth_day}" %></td>
              <td><%= link_to 'Profile', game_villager_path(@game, villager), class: "button villager-profile-link" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
</div>
