<h2>Villagers List</h2>
<b><%= link_to 'Add New Villager', new_villager_path %></b>
<br>
<br>
<b>Search By Name:</b><%= form_with url: villagers_path, method: :get, local: true do |form| %>
  <%= form.text_field :search, value: params[:search] %>
  <%= form.submit 'Search', name:nil %>
<% end %>
<br>
<b>Filter By Birth Season:</b><%= form_with url: villagers_path, method: :get, local: true do |form| %>
  <%= form.select :filter, Villager::BIRTH_SEASONS, selected: params[:filter] %>
  <%= form.submit 'Filter', name:nil %>
<% end %>
<table>
  <tr>
    <th></th>
    <th>Villager</th>
    <th>Birthday</th>
  </tr>

  <% @villagers.order(:name).each do |villager| %>
    <tr>
      <td><%= headshot(villager.name) %></td>
      <td><%= villager.name %></td>
      <td><%= "#{villager.birth_season} #{villager.birth_day}" %></td>
      <td><%= link_to 'Profile', villager_path(villager) %></td>
    </tr>
  <% end %>
</table>
