<h2>Villagers List</h2>
<b><%= link_to 'Add New Villager', new_villager_path %></b>
<br>
<br>
<b>Search By Name:</b><%= form_tag(villagers_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag 'Search', name:nil %>
<% end %>
<br>
<b>Filter By Birth Season:</b><%= form_tag(villagers_path, method: :get) do %>
  <%= select_tag :filter, options_for_select(Villager::BIRTH_SEASONS, selected: params[:filter]) %>
  <%= submit_tag 'Filter', name:nil %>
<% end %>
<table>
  <tr>
    <th></th>
    <th>Villager</th>
    <th>Birthday</th>
  </tr>

  <% @villagers.order(:name).each do |villager| %>
    <tr>
      <td><%= headshot(villager.name) %></td>
      <td><%= villager.name %></td>
      <td><%= "#{villager.birth_season} #{villager.birth_day}" %></td>
      <td><%= link_to 'Profile', villager_path(villager) %></td>
    </tr>
  <% end %>
</table>
