<h2><%= @villager.name %></h2>

<%= headshot(@villager.name) %>
<br>
<h4>Birth Date:</h4>
<%= @villager.birth_season %>
<%= @villager.birth_day %><br>

<%= render 'display_preferences' %>
<br>
<br>
<br>
<h4>Add Preferences</h4>
<%= render "preferences/form", model: Preference.new, villager_select: @villager.id %><br>

<p>
  <%= link_to 'Edit Villager', edit_villager_path(@villager) %><br>
</p>
