<div class="full-page">
  <div class="center-it inner-page">
    <div class="individual-page-title">
      <h1><%= @villager.name %></h1>
      <span class="individual-page-pic"><%= headshot(@villager.name) %></span>
    </div>
    <table>
      <tr>
        <th class="header", scope="col">Game</th>
        <td><%= @game %></td>
      </tr>
      <tr>
        <th class="header", scope="col">Birth Date</th>
        <td><%= @villager.birth_season %> <%= @villager.birth_day %></td>
      </tr>
      <tr>
        <th class="header", scope="col">Preferences</th>
        <td><%= render 'display_preferences' %></td>
      </tr>
      <tr>
        <th class="header", scope="col">Add Preference</th>
        <td><%= render "preferences/form", model: Preference.new, villager_select: @villager.id %></td>
      </tr>
      <tr>
        <th class="header", scope="col">Additional Info</th>
        <td class="additional-info"><%= sanitize(@villager.extra_info) %></td>
      </tr>
      <tr>
        <th class="header", scope="col">Updates?</th>
        <td><%= link_to 'Edit Villager', edit_game_villager_path, class: "button edit-villager-link" %></td>
      </tr>
    </table>
  </div>
</div>
