<h2>Villager:</h2>

<%= headshot(@villager.name) %>
<br>
<%= @villager.name %><br>
<h4> Birth Date:</h4>
<%= @villager.birth_season %>
<%= @villager.birth_day %>

<p>
  <%= link_to 'Edit', edit_villager_path(@villager) %><br>
</p>
