<!DOCTYPE html>
<html>
  <head>
    <title>Stardew App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <br><%= link_to 'Index', villagers_path %>
    </footer>
  </body>
</html>
