<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Farming Sim Wiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="app-footer">
      <footer>
        <%= link_to 'Games Index', games_path, class: "footer-link" %>
        <%= link_to "#{@game.name} Home", @game, class: "footer-link" %>
        <%= link_to "Villagers", game_villagers_path(@game), class: "footer-link" %>
        <%= link_to "Items", game_items_path(@game), class: "footer-link" %>
      </footer>
    </div>
  </body>
</html>
