<!DOCTYPE html>
<html>
  <head>
    <title>Stardew App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="footer"><footer>
      <br>
      <%= link_to 'Villagers Home', villagers_path %><br>
      <br>
      <%= link_to 'Items Index', items_path %>
    </footer></div>
  </body>
</html>
